@use "./variables.scss" as *;

@mixin large-mobile{
    @media screen and (min-width: $large-mobile-breakpoint) {
        @content;
      }
}
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
}
@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin tag{
    width: fit-content;
    padding: .15rem .50rem;
    border-radius: 10px;
    color: #07cfda;
    font-weight: 700;
    font-size: 12px;
    background: #00C2CB20; 
}