$large-mobile-breakpoint: 639px;
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1024px;

$text-sub-font: 14px;

$text-dark-main-color: #ffffffde;
$text-dark-sub-color: #bbc4d4;
$background-dark-main-color: #0E1D35;
$text-dark-tag-color: #07cfda;
$background-dark-tag-color: #00C2CB20;

$text-light-main-color: #333333;
$text-light-sub-color:#555555;
$background-light-main-color: #FAF9F6;
$text-light-tag-color: #336699;
$background-light-tag-color:#E6F0FA;

$background-dark-hover-color: #BDC3C725;
$text-dark-hover-color: #00C2CB;

$background-dark-input-color: #1B2F53;
$background-light-input-color: #f1eeeb;